---
import getActualHref from "@utils/getActualHref";

export interface Props {
  className?: string;
  ariaLabel?: string;
  title?: string;
  disabled?: boolean;
  target?: "_blank" | "_self" | "_parent" | "_top";
  href?: string;
  forcedHref?: string;
}

const {
  href,
  className,
  ariaLabel,
  title,
  disabled = false,
  target = "_self",
  forcedHref,
} = Astro.props;

const actualHref = forcedHref
  ? forcedHref
  : !disabled
  ? getActualHref(href)
  : undefined;
---

<a
  type="button"
  href={actualHref}
  tabindex={disabled ? "-1" : "0"}
  class={`group ${className}`}
  aria-label={ariaLabel}
  title={title}
  aria-disabled={disabled}
  target={target}
>
  <slot />
</a>

<style>
  a {
    @apply hover:text-skin-accent;
  }
</style>
