---
export interface Props {
  href: string;
  className?: string;
  ariaLabel?: string;
  title?: string;
  disabled?: boolean;
  target?: "_blank" | "_self" | "_parent" | "_top";
}

const {
  href,
  className,
  ariaLabel,
  title,
  disabled = false,
  target = "_self",
} = Astro.props;

const isDev = process.env.NODE_ENV === "development";
const prodPath = isDev ? "" : "/garden/";

const actualHref = `${prodPath}${href}`;
---

<a
  type="button"
  href={disabled ? "#" : actualHref}
  tabindex={disabled ? "-1" : "0"}
  class={`group ${className}`}
  aria-label={ariaLabel}
  title={title}
  aria-disabled={disabled}
  target={target}
>
  <slot />
</a>

<style>
  a {
    @apply hover:text-skin-accent;
  }
</style>
